# Python cache files
__pycache__/
*.pyc

# System files
.DS_Store
.idea/

# Ignore datasets and their contents
/datasets/**
/embeddings/**

# But allow evfr package directories
!/evfr/datasets/
!/evfr/embeddings/

# Python package build files
*.egg-info/
dist/
build/